<!-- Log In or Sign Up -->
  <div class="form-container container" ng-hide="$root.loggedIn">
    <h3>Log In</h3>
    <form ng-submit="$root.session(user)" name="login_form">
      <label for="email">Email</label>
      <input type="text" name="email" ng-model="user.email" class="form-control" />
      <label for="password">Password</label>
      <input type="password" name="password" ng-model="user.password" class="form-control" />
      <p></p>
      <input type="submit" value="Log In" class="btn btn-medium" />
    </form>
  </div>
