<div class="form-container-menu container">
  <h3>New Post</h3>
  <form ng-submit="$root.createPost(post)" name="post_form">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="post.title" class="form-control" />
    <label for="content">Content</label>
    <textarea name="content" ng-model="post.body" class="form-control" rows="8"></textarea>
    <p></p>
    <input type="submit" value="Create Post" class="btn btn-medium" />
  </form>
</div>
