<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <%= link_to 'Pretty Blog', root_url, class: "navbar-brand" %>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">New</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </div>
</nav>
