<div ng-controller="menuController as menu">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Pretty Blog</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="post()" ng-show="$root.loggedIn">New</a></li>
        <li><a href ng-click="menu()">Menu</a></li>
      </ul>
    </div>
  </nav>

  <!-- User Menu -->
  <div class='overlay-dropdown' ng-show="$root.menuOpen">

    <span class='glyphicon glyphicon-remove' ng-click="close()"></span>
    <div class="spacer"></div>

    <ul class="menu-options">
      <li><a href ng-click="logOut()" ng-show="$root.loggedIn">Sign Out</a>
      </li>
      <li><a href ng-click="editAccount()" ng-show="$root.loggedIn && !$root.account">Edit Account</a>
      </li>
    </ul>

    <!-- User Log In Form -->
    <login-form></login-form>

    <!-- Edit Account Form -->
    <edit-account></edit-account>

  </div>

  <!-- New Post Form -->
  <div class='overlay-dropdown' ng-show="$root.newPost">

    <span class='glyphicon glyphicon-remove' ng-click="close()"></span>
    <div class="spacer"></div>

    <!-- New Post Form -->
    <post-form></post-form>
  </div>

</div>
